html {
  background:#ffffff;
}

body {
  padding:50px 0;
  margin:0;
  font:14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000000;
  font-weight:300;
}

.wrapper {
  width:740px;
  margin:0 auto;
  background:#ffffff;
  border-radius: 8px;
}

header, section, footer {
  display:block;
}

a {
  color:#ff0000;
  text-decoration:none;
}

p {
  margin:0 0 20px;
  padding:0;
}

strong {
  color:#ff0000;
  font-weight:700;
}

header {
  border-radius: 8px 8px 0 0;
  background:#ffffff;
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #ff0000;

  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#ff0000;
  }

  &.without-description h1 {
    margin:10px 0;
  }

  p {
    margin:0;
    color:#000000;
    width:300px;
    font-size:13px;

    &.view {
      display:none;
      font-weight:700;
      -webkit-font-smoothing:antialiased;

      a {
        color:#ff0000;
      }

      small {
        font-weight:400;
      }
    }
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:38px;
    padding:1px 0;
    background:#ffffff;
    border-radius:5px;
    width:auto;

    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      left:-5px;
      top:-4px;
      right:-5px;
      bottom:-6px;
      border-radius: 8px;
    }

    li {
      width:79px;
      float:left;
      border-right:1px solid #ff0000;
      height:38px;

      &.single {
        border:none;
      }
    }

    li + li {
      width:78px;
      border-left:1px solid #ff0000;
    }

    li + li + li {
      border-right:none;
      width:79px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:#ff0000;
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;

      strong {
        font-size:14px;
        display:block;
        color:#ff0000;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}

section {
  padding:15px 20px;
  font-size:15px;
  border-top:1px solid #ffffff;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  color:#ff0000;
  padding:0;
  margin:0 0 20px;
  line-height:1.2;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#ff0000;
}

h3, h4, h5, h6 {
  color:#ff0000;
}

blockquote {
  margin:0 -20px 20px;
  padding:15px 20px 1px 40px;
  font-style:italic;
  background:#ffffff;
  color:#000000;
}

img {
  max-width:100%;
}

code, pre {
  font-family:Arial;
  color:#ff0000;
  font-size:12px;
  overflow-x:auto;
}

pre {
  padding:20px;
  background: #ffffff;
  color:#ff0000;
  margin:0 -20px 20px;

  code {
    color:#898989;
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #ff0000;
}

dt {
  color:#000;
  font-weight:700;
}

th {
  color:#000;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#fff;
  height:1px;
  margin:0 0 20px;
}

kbd {
  background-color: #fff;
  border: 1px solid #ff0000;
  border-bottom-color: #ff0000;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #cd0000;
  color: #ff0000;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

footer {
  width:640px;
  margin:0 auto;
  padding:20px 0 0;
  color:#000;
  overflow:hidden;

  a {
    color:#ff0000;
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@media print, screen and (max-width: 740px) {
  body {
    padding:0;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media print, screen and (max-width:580px) {
  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    content:'at https://github.com/';
  }
}
